set_io z80_a[0]   2
set_io z80_a[1]  46
set_io z80_a[2]  47
set_io z80_a[3]  45
set_io z80_a[4]  48
set_io z80_a[5]   3
set_io z80_a[6]   4
set_io z80_a[7]  44
set_io z80_a[8]   6
set_io z80_a[9]   9
set_io z80_a[10] 11
set_io z80_a[11] 18
set_io z80_a[12] 19
set_io z80_a[13] 13
set_io z80_a[14] 21
set_io z80_a[15] 12
set_io z80_d[0]  31
set_io z80_d[1]  37
set_io z80_d[2]  34
set_io z80_d[3]  43
set_io z80_d[4]  36
set_io z80_d[5]  42
set_io z80_d[6]  38
set_io z80_d[7]  28
set_io z80_d_oe  35
set_io z80_d_dir 32
set_io z80_wr    27
set_io z80_rd    26
set_io z80_iorq  25
set_io z80_mreq  23
set_io z80_m1    20
set_io z80_romcs 10

set_io spi_ss    16
set_io spi_sck   15
set_io spi_si    17
set_io spi_so    14
