set_io z80_a[0]  32
set_io z80_a[1]  35
set_io z80_a[2]  31
set_io z80_a[3]  37
set_io z80_a[4]  13
set_io z80_a[5]  19
set_io z80_a[6]  18
set_io z80_a[7]   9
set_io z80_a[8]  21
set_io z80_a[9]  10
set_io z80_a[10] 20
set_io z80_a[11] 41
set_io z80_a[12] 25
set_io z80_a[13] 27
set_io z80_a[14] 40
set_io z80_a[15] 23
set_io z80_d[0]  43
set_io z80_d[1]  36
set_io z80_d[2]  42
set_io z80_d[3]  44
set_io z80_d[4]   4
set_io z80_d[5]  28
set_io z80_d[6]  38
set_io z80_d[7]  34
#set_io z80_d_oe  Raspberry Pi GPIO-13
set_io z80_d_dir  2
set_io z80_wr    12
set_io z80_rd    11
set_io z80_iorq  47
set_io z80_mreq  45
set_io z80_m1     3
set_io z80_romcs 46
set_io z80_clk   48

set_io ram_a13   26
set_io ram_a14   39
set_io ram_cs     6

set_io spi_ss    16
set_io spi_sck   15
set_io spi_si    17
set_io spi_so    14
